<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div class="head">
        <h2 class="main">Dashboard</h2>
    </div>
    <div class="center">
        <p>Welcome to the protected dashboard!</p>
    </div>
    <footer>
        <a href="/protected/admin">admin mode</a>
        <a href="/auth/logout" class="rightmost">Logout</a>
    </footer>
</body>

</html>